/* /////////////////////////////////////////////////////

BASE STYLES
Only single elements. No classes or ids.

///////////////////////////////////////////////////// */

* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  // *behavior: url(/scripts/boxsizing.htc); // <--- Use this for <= IE7 https://github.com/Schepp/box-sizing-polyfill
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

@include font-face("roboto-light", font-files("Roboto-Light.otf", "Roboto-Light.svg", "Roboto-Light.ttf", "Roboto-Light.woff"));
@include font-face("roboto-regular", font-files("Roboto-Regular.otf", "Roboto-Regular.svg", "Roboto-Regular.ttf", "Roboto-Regular.woff"));

body {
  font-size: 16px;
  line-height: 20px;
  color: $base-color;
  font-family: $content-font;
  background: #efeff4;
}

h1, h2, h3, h4, h5 {
  color: #000;
  margin-bottom: 15px;
}

h1 {
  font-size: 18px;
}
h2 {
  font-size: 32px;
}
h3 {}
h4 {}
h5 {}

a {
  color: #4fc3d4;
  text-decoration: none;

  &:hover {}
  &:active {}
}

p, ol, ul {
  margin-bottom: 15px;
}

p {}

ol {}

ul {}

strong { font-weight: bold; }
em { font-style: italic; }

hr {}

blockquote {}

form {}
label {}
input {}
input[type=text] {}
textarea {}
select{}