/* /////////////////////////////////////////////////////

GRID SYSTEM

///////////////////////////////////////////////////// */
@import "susy";

$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 0px;
$container-style: fluid;