/* /////////////////////////////////////////////////////

MODULES
// Use class names for all modules
// Use class names for all non-semantic children (divs, spans, etc). 
// Child class names prefixed by module name (ex: news-item-title)
// Keep nesting to a minimum
// Put a comment description before each module

///////////////////////////////////////////////////// */

/* ios 7 UI
--------------------------------------------- */

$content-bg-color: #efeff4;
$header-bg-color: #f8f8f8;
// $border-color: #b2b2b2;
$border-color: #ececef;
$light-border-color: #ececef;
$cta-color: #47c9af;
$highlight-color: #157efb;
$error-color: #EF6060;
$warning-color: #EFCD0C;
$flash-info-color: #5693DA;
$secondary-highlight-color: #4fc3d4;
$neutral-color: #e7e8e8;
$info-color: #606366;

/* Base */

.highlight-link {
  color: $highlight-color;
}

/* Navigation Bars */

.ui-navigation-bar {
  height: 60px;
  position: relative;
  background: $header-bg-color;
  border-bottom: 1px solid $border-color;

  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;

  }

  .ui-navigation-bar_title {
    margin: 0;
    line-height: 3.7rem;
  }

  .navigation-back,
  .navigation-add {
    color: $highlight-color;
    background: none;
    position: absolute;

    i {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .navigation-back {
    font-size: 15px;
    left: 10px;
    top: 16px;
  }

  .navigation-add {
    font-size: 24px;
    right: 10px;
    top: 10px;
  }
}

/* Form fields */

.control-group {
  position: relative;
  margin-bottom: 15px;
}

input,
textarea,
button {
  border: none;
  font-family: $content-font;

  &.error {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }
}

.ui-text-input,
.ui-text-area {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 0 10px;
  border-bottom: 1px solid $border-color;
}

.ui-text-area {
  min-height: 200px;
  padding: 10px;
}

.validation-error {
  color: red;
  padding: 0 10px;
  display: inline-block;
  margin: 5px 0 0 0;
  position: absolute;
  top: 9px;
  right: 0;
  font-size: 11px;
}

.ui-button--cta {
  color: #fff;
  background: $cta-color;
  padding: 20px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;

  &:first-child {
    margin-bottom: 10px;
  }

  &:active,
  &:hover {
    background: adjust-lightness($cta-color, -5%);
  }
}

.button-group {
  margin-top: 40px;
  padding: 0 10px;
  @include span-columns(12, 12);
}

.user-form {

  .button-group {
    margin-top: 0;
  }
}

/* Dialogs */

.ui-alert-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  @include transition(all .2s ease-out);

  &.alert-transition-in {
    display: block;
  }
}

.ui-alert {
  width: 250px;
  background: $neutral-color;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  left: 50%;
  top: 30%;
  display: none;
  margin: 0 0 0 -125px;

  &.alert-transition-in {
    display: block;
    @include animation(bounce-in, .5s, 1, ease, normal);
  }
}

.ui-alert_message {
  padding: 15px 15px 0 15px;
  font-family: $body-font;
  font-weight: bold;
  text-align: center;
}

.ui-alert_button {
  background: none;
  font-size: 16px;
  border-top: 1px solid $border-color;
  height: 45px;

  &:active,
  &:hover {
    cursor: pointer;
    background: adjust-lightness($neutral-color, -5%);
  }

  &.half-width {
    width: 50%;
    float: left;
    
    &:last-child {
      border-left: 1px solid $border-color;
    }
  }

}

/* Horizontal tabs */

.ui-horizontal-tabs {
  overflow: hidden;
  border: 1px solid $highlight-color;
  border-radius: 5px;
  margin: 20px 10px;

  li {
    float: left;
    width: 33.333%;
    text-align: center;

    &.active a {
      background: $highlight-color;
      color: #fff;
    }

    &:last-child {
      
      a {
        border-right: none;
        padding-right: 18px;
      }

    }

    a {
      border-right: 1px solid $highlight-color;
      display: inline-block;
      padding: 5px 19px;
      color: $highlight-color;
      font-family: $body-font;
      white-space: nowrap;
      width: 100%;
    }
  }
}

/* Stats */

.ui-stats-row {
  overflow: hidden;
  border-bottom: 1px solid $light-border-color;
}

.ui-stat_button {
  float: left;
  width: 50%;
  padding: 15px 0;
  background: #fff;
  text-align: center;

  &:first-child {
    border-right: 1px solid $light-border-color;
  }

  &:hover,
  &:active {
    cursor: pointer;
    background: adjust-lightness(#fff, -3%);
  }
}

.stat-number {
  font-size: 20px;
  display: inline-block;
}

.stat-item {
  font-size: 12px;
  margin: 0;
  line-height: 15px;
}

/* Action list */

.ui-action-list {

  li {
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid $light-border-color;
    position: relative;
    padding: 15px 0;

    &:hover,
    &:active {
      cursor: pointer;
      background: adjust-lightness(#fff, -3%);
    }

    h3 {
      margin: 0;
      line-height: 15px;
    }

    i {
      color: $secondary-highlight-color;
    }
  }

  .fa-angle-right {
    position: absolute;
    right: 20px;
    top: 14px;
    color: $base-color;
  }
}

.action-list-icon {
  float: left;
  margin: 0 15px 0 20px;
}

/* Info list */

.ui-info-list {

  .ui-info-list_item {
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid $light-border-color;
    position: relative;
    padding: 15px;

    &:hover,
    &:active {
      cursor: pointer;
      background: adjust-lightness(#fff, -3%);
    } 

    h3 {
      margin: 0;
    }
  }

  .ui-round-image {
    float: left;
    margin-right: 15px;
  }

  .ui-info-list_content {
    float: left;
    padding-top: 3px;
  }

  .ui-info-list_icon {
    float: right;
    margin-top: 12px;
    font-size: 20px;
  }

  .fa-times-circle {
    color: #D6D6D6;    
  }

  .fa-check-circle {
    color: $secondary-highlight-color;
  }
}

.ui-basic-info-list {
  font-size: 14px;

  li {
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #ccc;
  }
}

/* Search Module */

.ui-search {
  width: 100%;
  position: relative;
  padding: 10px 15px;
  background: $header-bg-color;
  border-bottom: 1px solid $border-color;
}

.ui-search_group {
  position: relative;

  i {
    position: absolute;
    color: #C5C5C5;
    top: 11px;

    &.fa-search-plus {
      left: 5px;
    }

    &.fa-refresh {
      right: 5px;
    }
  }
}

.ui-search_field {
  width: 100%;
  border-radius: 4px;
  padding: 10px 10px 10px 22px;
}

/* Misc */

.ui-masthead {
  overflow: hidden;
  padding: 40px 20px;
  @include background-image(linear-gradient(#f0fbfd, #f2f4f4));
}

.masthead-left_small,
.masthead-right_large {
  float: left;
}

.masthead-left_small {
  margin-right: 25px;
}

/* Utilities */

.image-rounded_large {
  border-radius: 40px;
}

.image-rounded_medium {
  border-radius: 30px;
}

.ui-round-image_large {
  overflow: hidden;
}

.full {
  width: 100%;
}

.center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.small {
  font-size: 12px;
}

@include keyframes(bounce-in) {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }
  
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  
  70% {
    -webkit-transform: scale(.9);
  }
  
  100% {
    -webkit-transform: scale(1);
  }
}

/* App Modules
--------------------------------------------- */

#flash-messages {
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 10;
  font-size: 14px;

  li {
    padding: 10px;
    border-bottom: 3px solid rgba(0,0,0,0.1);
    color: #fff;
    font-weight: bold;
  }

  .success {
    background: $cta-color;
  }

  .error {
    background: $error-color;
  }

  .warning {
    background: $warning-color;
  }

  .info {
    background: $flash-info-color;
  }
}