/* /////////////////////////////////////////////////////

MODULES
// Use class names for all modules
// Use class names for all non-semantic children (divs, spans, etc). 
// Child class names prefixed by module name (ex: news-item-title)
// Keep nesting to a minimum
// Put a comment description before each module

///////////////////////////////////////////////////// */

/* ios 7 UI
--------------------------------------------- */

$content-bg-color: #efeff4;
$header-bg-color: #f8f8f8;
$border-color: #b2b2b2;
$cta-color: #47c9af;
$highlight-color: #157efb;
$neutral-color: #e7e8e8;

/* Base */

.highlight-link {
  color: $highlight-color;
}

/* Navigation Bars */

.ui-navigation-bar {
  height: 60px;
  margin-bottom: 20px;
  background: $header-bg-color;
  border-bottom: 1px solid $border-color;

  .ui-navigation-bar_title {
    margin: 0;
    line-height: 3.7rem;
  }
}

/* Form fields */

.control-group {
  position: relative;
  margin-bottom: 15px;
}

input,
button {
  border: none;
  font-family: $content-font;

  &.error {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }
}

.ui-text-input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 0 10px;
  border-bottom: 1px solid $border-color;
}

.validation-error {
  color: red;
  padding: 0 10px;
  display: inline-block;
  margin: 5px 0 0 0;
  position: absolute;
  top: 9px;
  right: 0;
  font-size: 11px;
}

.ui-button--cta {
  color: #fff;
  background: $cta-color;
  padding: 20px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;

  &:first-child {
    margin-bottom: 10px;
  }

  &:active,
  &:hover {
    background: adjust-lightness($cta-color, -5%);
  }
}

.button-group {
  margin-top: 40px;
  padding: 0 10px;
  @include span-columns(12, 12);
}

/* Dialogs */

.ui-alert-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  @include transition(all .2s ease-out);

  &.alert-transition-in {
    display: block;
  }
}

.ui-alert {
  width: 250px;
  background: $neutral-color;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  left: 50%;
  top: 30%;
  display: none;
  margin: 0 0 0 -125px;

  &.alert-transition-in {
    display: block;
    @include animation(bounce-in, .5s, 1, ease, normal);
  }
}

.ui-alert_message {
  padding: 15px 15px 0 15px;
  font-family: $body-font;
  font-weight: bold;
  text-align: center;
}

.ui-alert_button {
  background: none;
  font-size: 16px;
  border-top: 1px solid $border-color;
  height: 45px;

  &:active,
  &:hover {
    cursor: pointer;
    background: adjust-lightness($neutral-color, -5%);
  }

  &.half-width {
    width: 50%;
    float: left;
    
    &:last-child {
      border-left: 1px solid $border-color;
    }
  }

}

/* Utilities */

.full {
  width: 100%;
}

.center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 0;
}

@include keyframes(bounce-in) {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }
  
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  
  70% {
    -webkit-transform: scale(.9);
  }
  
  100% {
    -webkit-transform: scale(1);
  }
}
