/* /////////////////////////////////////////////////////

UTILS
General CSS utilities and SASS mixins

///////////////////////////////////////////////////// */

@mixin image-replace($image) {
  background: image-url($image) no-repeat;
  width: image-width($image);
  height: image-height($image);
}

.no-flicker{-webkit-transform:translate3d(0,0,0);}

.hide-text {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

.small {
  font-size: 10px;
}

.muted {
  margin: 0;
}

.hidden {
  display: none;
}

.info-content {
  margin-top: 15px;
}

.inline-list {
  overflow: hidden;
  margin: 0;

  li {
    border-right: 1px solid #ececef;
    float: left;
    padding: 0 5px 0 0;
    margin: 0 5px 0 0;

    &:last-child {
      border-right: none;
      margin: 0;
      padding: 0;
    }
  }
}

/* Responsive Mixins
   see: http://jakearchibald.github.com/sass-ie
------------------------------------------------ */

$fix-mqs: false !default;

@mixin respond-min($width : $break-small) {
  @if $fix-mqs {
    @if $fix-mqs >= $width {
      @content;
    }
  } @else {
    @media screen and (min-width: $width) {
      @content;
    }
  }
}

$old-ie: false !default;

@mixin old-ie {
  @if $old-ie {
    @content;
  }
}

.no-mobile {
  display: none;
  
  @include respond-min {
    display: block;
  }
}

.mobile-only {
  display: block;
  
  @include respond-min {
    display: none;
  }
}

/* Animations
--------------------------------------------- */

.ui-animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Keyframes */

@mixin keyframes($name) {
  
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
} 

/* Keyframe animations */

@mixin animation($name, $duration, $repetition, $timing, $direction) {
  -webkit-animation: #{$name} #{$duration} #{$repetition} #{$timing} #{$direction}; 
  -moz-animation:    #{$name} #{$duration} #{$repetition} #{$timing} #{$direction}; 
  -o-animation:      #{$name} #{$duration} l#{$repetition} #{$timing} #{$direction}; 
  animation:         #{$name} #{$duration} #{$repetition} #{$timing} #{$direction};
}

/* Angular Animations
--------------------------------------------- */

.view-enter, .view-leave, .slide-enter, .slide-leave, .wave-enter, .wave-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}
.view-enter.view-enter-active {
  left:0;
  opacity:1;
}

.view-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.view-leave.view-leave-active {
  left:-100px;
  opacity:0;
}

/* Module Animations
--------------------------------------------- */

.slide-down { 
  display: none; 
  
  &.ng-hide-remove {
    display: block;
    -webkit-animation: slide-down-enter 250ms ease-out, slide-up-leave 500ms 2s ease;
    -moz-animation: slide-down-enter 250ms ease-out, slide-up-leave 500ms 2s ease;
    -ms-animation: slide-down-enter 250ms ease-out, slide-up-leave 500ms 2s ease;
    -o-animation: slide-down-enter 250ms ease-out, slide-up-leave 500ms 2s ease;
    animation: slide-down-enter 250ms ease-out, slide-up-leave 500ms 2s ease;
  }
}

@include keyframes(slide-down-enter) {
  from { opacity: 0; transform: translateY(-75%); } 
  to { opacity: 1; transform: translateY(0); }  
}

@include keyframes(slide-up-leave) {
  from { opacity: 1; transform: translateY(0); } 
  to { opacity: 0; transform: translateY(-75%); }
}

@include keyframes(slide-down-leave) {
  from { opacity: 1; transform: translateY(0); } 
  to { opacity: 0; transform: translateY(75%); }
}