/* /////////////////////////////////////////////////////

On Tap Angular
jon@capturethecastle.net @ Capture The Castle

///////////////////////////////////////////////////// */


/* Compass Imports
--------------------------------------------- */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/background-size";



/* Variables
--------------------------------------------- */

$base-color: #606366;
$highlight-color: #ea2427;

$body-font: "Helvetica Nueu", Helvetica, Arial, sans-serif;
$content-font: "roboto-light";

$break-small: 480px;


/* Sprites
--------------------------------------------- */

// USE WITH RETINA SPRITES MIXIN
// $sprites: sprite-map("sprites/*.png", $spacing: 2px);            
// $sprites2x: sprite-map("sprites_x2/*.png", $spacing: 4px);   


/* Imports
--------------------------------------------- */

@import "libs/hidpi";
@import "libs/retina-sprites";
@import "base";
@import "grid";
@import "utils";
@import "modules";
@import "pages";
@import "libs/mobile-nav";
@import "libs/font-awesome";
@import "libs/angular";



/* /////////////////////////////////////////////////////

GLOBAL LAYOUT

///////////////////////////////////////////////////// */

.content-panel {
  @include container;
  padding: 0 0 30px 0;
}

.inner-content {
  position: relative;
  overflow: hidden;
  padding: 0 15px;
}

.view {
  padding: 84px 15px 15px 15px;
}

.list-view {
  // @include susy-grid-background;
  padding: 69px 0 47px 0;
}

.banner {
  img {
    width: 100%;
  }
}