<div class="content-panel">
  
  <div class="ui-navigation-bar fixed">
    <div class="uin-navigation-bar_item center full">
      <h1 class="ui-navigation-bar_title">Welcome To On Tap</h1>
    </div>
  </div>

    <p class="center">On Tap is your source to keep up on your favorite drinks at your favorite bars.</p>
    <div class="control-group">
      <input type="text" class="ui-text-input full-input" placeholder="Email:" ng-model="email" ng-class="{error: emailErrors}">
      <label for="emil" class="validation-error" ng-show="emailErrors">{{emailValidation}}</label>
    </div>

    <div class="control-group">
      <input type="password" class="ui-text-input full-input" placeholder="Password:" ng-model="password" ng-class="{error: passwordErrors}">
      <label for="emil" class="validation-error" ng-show="passwordErrors">{{passwordValidation}}</label>
    </div>

    <div class="control-group button-group">
      <button class="ui-button--cta full">Login</button>
      <button class="ui-button--cta full" ng-click="register(email, password)">Signup</button>
    </div>
  </div>

