<div class="content-panel">
  <div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
      <h1 class="topcoat-navigation-bar__title">Welcome</h1>
    </div>
  </div>
  <div class="view">
    <div class="control-group">
      <input type="text" class="topcoat-text-input full-input" placeholder="Email" ng-model="email">
    </div>

    <div class="control-group">
      <input type="password" class="topcoat-text-input full-input" placeholder="Password" ng-model="password">
    </div>

    <div class="control-group button-group">
      <button class="topcoat-button--cta half-input">Login</button>
      <button class="topcoat-button--cta half-input" ng-click="register(email, password)">Signup</button>
    </div>
  </div>

</div>