<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item center full">
    <h1 class="topcoat-navigation-bar__title">Search For Beer</h1>
  </div>
</div>

<div ng-controller="searchController" class="list-view">

  <div class="inner-content">
    <input type="search" value="" placeholder="Type a brewery or beer name" class="topcoat-search-input main-input" ng-model="searchTerm">
    <i class="fa fa-refresh fa-spin" ng-show="isSearching"></i>
  </div>

  <ul class="topcoat-list__container">
    <li class="topcoat-list__item" ng-repeat="result in searchResults">
      
      <div ng-if="result.type === 'brewery'">
        <a ng-tap="$navigate.go('/breweries/{{result.id}}/beers', 'slide')">
          <h2>{{result.name}}</h2>
          <p>{{result.description|truncate:120}}</p>
        </a>
      </div>

      <div ng-if="result.type === 'beer'">
        <a ng-tap="$navigate.go('/beer/{{result.id}}', 'slide')">
          <h2>{{result.name}}</h2>
          <p>{{result.description|truncate:120}}</p>
        </a>
      </div>

    </li>
  </ul>
</div>