<div class="content-panel" ng-controller="searchController">
  
  <div class="ui-navigation-bar fixed">
    <div class="ui-navigation-bar_item center full">
      <button ng-tap="$navigate.back()" class="navigation-back"><i class="fa fa-angle-left"></i> Back</button>
      <h1 class="ui-navigation-bar_title">{{result.name | truncate:25}}</h1>
    </div>
  </div>
  <div class="ui-masthead user-profil-header">
    <div class="masthead-left_small">
      <div class="ui-round-image">
        <img ng-if="result.images.icon" src="{{result.images.icon}}" alt="{{result.name}}" class="image-rounded_large">
        <img ng-if="result.labels.icon" src="{{result.labels.icon}}" alt="{{result.name}}" class="image-rounded_large">
        <img ng-if="!result.images.icon && !result.labels.icon" src="http://placehold.it/75x75/57e6e7/ffffff" alt="{{result.name}}" class="image-rounded_large">
      </div>
    </div><!-- .mastheader-left_small -->

    <div class="masthead-right_large">
      <h2 class="profile-name">{{result.name}}</h2>
      <p ng-if="result.style.name" class="muted">{{result.style.name | truncate:25}}</p>
      <ul class="inline-list">
        <li ng-if="result.abv" class="small">ABV {{result.abv}}</li>
        <li ng-if="result.ibu"class="small">IBU {{result.ibu}}</li>
      </ul>
      <ul class="ui-stat-list small">
        <li>
          <strong>186</strong> followers
        </li>
      </ul>
    </div><!-- masthead-right_large -->
  </div><!-- .ui-masthead -->

  <div class="content-section">
    <button ng-if="type === 'brewery'" class="ui-button--cta full" ng-tap="$navigate.go('/search/brewery/{{result.id}}/beers')">View Beers</button>
    <button ng-if="type === 'beer'" class="ui-button--cta full">Tap</button>

    <p>{{result.description}}</p>

    <div ng-if="result.style" class="content-extended-section">
      <h3>More About: {{result.style.name}}</h3>
      <p>{{result.style.description}}</p>
      <h3>Specs:</h3>
      <ul class="ui-basic-info-list">
        <li ng-if="result.style.category" class="ui-basic-info-list_item"><strong>Category:</strong> {{result.style.category.name}}</li>
        <li class="ui-basic-info-list_item"><strong>Max ABV:</strong> {{result.style.abv_max}}</li>
        <li class="ui-basic-info-list_item"><strong>Min ABV:</strong> {{result.style.abv_min}}</li>
        <li class="ui-basic-info-list_item"><strong>Max IBU:</strong> {{result.style.ibu_max}}</li>
        <li class="ui-basic-info-list_item"><strong>Min IBU:</strong> {{result.style.ibu_min}}</li>
        <li class="ui-basic-info-list_item"><strong>Max SRM:</strong> {{result.style.srm_max}}</li>
        <li class="ui-basic-info-list_item"><strong>Min SRM:</strong> {{result.style.srm_min}}</li>
        <li class="ui-basic-info-list_item"><strong>Max Final Gravity:</strong> {{result.style.fg_max}}</li>
        <li class="ui-basic-info-list_item"><strong>Min Final Gravity:</strong> {{result.style.fg_min}}</li>
      </ul>
    </div>
  </div>
</div>