<div class="content-panel" ng-controller="searchController">
  
  <div class="ui-navigation-bar fixed">
    <div class="ui-navigation-bar_item center full">
      <button ng-tap="$navigate.back()" class="navigation-back">Done</button>
      <h1 class="ui-navigation-bar_title">Add Beer</h1>
    </div>
  </div>

  <div class="ui-search">
    <div class="ui-search_group">
      <i class="fa fa-search-plus"></i>
      <input type="search" value="" placeholder="Search" class="ui-search_field" ng-model="searchTerm">
    </div>
  </div>

      <!-- <i class="fa fa-refresh fa-spin" ng-show="isSearching"></i> -->

    <ul class="topcoat-list__container">
      <li class="topcoat-list__item" ng-repeat="result in searchResults">
        
        <div ng-if="result.type === 'brewery'">
          <a ng-tap="$navigate.go('/breweries/{{result.id}}/beers', 'slide')">
            <h2>{{result.name}}</h2>
            <p>{{result.description|truncate:120}}</p>
          </a>
        </div>

        <div ng-if="result.type === 'beer'">
          <a ng-tap="$navigate.go('/beer/{{result.id}}', 'slide')">
            <h2>{{result.name}}</h2>
            <p>{{result.description|truncate:120}}</p>
          </a>
        </div>

      </li>
    </ul>
</div>